 .card {
 	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
 	border-radius: 20px;
 	transition: all 1s ease;
 }

 .card:hover {
 	transform: scale(1.15);
 }

 body {
 	background: url("./../images/background.jpg") fixed no-repeat center;
 	background-size: cover;
 	font-weight: bold;
 }

 a,
 button {
 	font-weight: bold !important;
 }

 .loader__wrapper {
 	position: absolute;
 	width: 100%;
 	height: 100vh;
 	z-index: 9999999 !important;
 	background-color: dimgray;
 	opacity: 1;
 	display: flex;
 	justify-content: center;
 	overflow: hidden !important;
 	align-items: center;
 }

 .loader__02 {
 	height: 120px;
 	position: relative;
 	width: 120px;
 }

 .loader__02 strong {
 	align-items: center;
 	color: #fff;
 	display: flex;
 	font-size: 1.3rem;
 	height: 100%;
 	justify-content: center;
 	text-transform: uppercase;
 }

 .loader__02 span {
 	height: 100%;
 	left: 0;
 	position: absolute;
 	top: 0;
 	transform: rotate(calc(18deg * var(--i)));
 	width: 100%;
 }

 .loader__02 span::before {
 	animation: blink 2s linear infinite;
 	animation-delay: calc(0.1s * var(--i));
 	background-color: #00ff0a;
 	border-radius: 50%;
 	box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
 	content: "";
 	height: 15px;
 	left: 0;
 	position: absolute;
 	top: 0;
 	width: 15px;
 }

 @keyframes blink {
 	0% {
 		transform: scale(1);
 	}

 	80%,
 	100% {
 		transform: scale(0);
 	}
 }

 .btn{
 	border: 1px #2486f7 solid !important;
 	color: #2486f7 !important;
 	border-radius: 5rem !important;
 }

 .btn{
	color: white !important;
	background-color: #2486f7 !important;
	border: 1px solid transparent !important;
 }
 i::before{
	transform: scale(1.5);
 }
 